<script type="text/javascript">
  location = '/dudarik-JSFE2022Q3/songbird/';
</script>
<div class="main_page" id="page">
  <picture>
    <source
      srcset="<%= require('../assets/images/main_photo_siskin_1920.webp') %>"
      media="(min-width: 1750px)"
    />
    <source
      srcset="<%= require('../assets/images/main_photo_siskin_1600.webp') %>"
      media="(min-width: 1300px)"
    />
    <source
      srcset="<%= require('../assets/images/main_photo_siskin_1200.webp') %>"
      media="(min-width: 1000px)"
    />
    <img
      class="right_background"
      src="<%= require('../assets/images/main_photo_siskin_900.webp') %>"
    />
  </picture>
  <picture>
    <source
      srcset="<%= require('../assets/images/main_flower_1920.webp') %>"
      media="(min-width: 1750px)"
    />
    <source
      srcset="<%= require('../assets/images/main_flower_1920.webp') %>"
      media="(min-width: 1400px)"
    />
    <source
      srcset="<%= require('../assets/images/main_flower_1920.webp') %>"
      media="(min-width: 1200px)"
    />
    <img
      class="left_background"
      src="<%= require('../assets/images/main_flower_1920.webp') %>"
    />
  </picture>

  <h1 class="main_title">Songbird</h1>
  <h2 class="main_subtitle">Викторина</h2>
  <p class="main_text">
    распознавание птиц <br />
    по их голосам
  </p>

  <button class="btn btn_main">Играть</button>
</div>
