<script type="text/javascript">
  location = '/dudarik-JSFE2022Q3/songbird/';
</script>
<div class="main_page" id="page">
  <picture>
    <source
      srcset="<%= require('../assets/images/main_siskin_1920.webp') %>"
      media="(min-width: 1750px)"
    />
    <source
      srcset="<%= require('../assets/images/main_siskin_1600.webp') %>"
      media="(min-width: 1300px)"
    />
    <source
      srcset="<%= require('../assets/images/main_siskin_1200.webp') %>"
      media="(min-width: 1000px)"
    />
    <source
      srcset="<%= require('../assets/images/main_siskin_900.webp') %>"
      media="(min-width: 730px)"
    />
    <img
      class="right_background"
      src="<%= require('../assets/images/main_siskin_700.webp') %>"
    />
  </picture>
  <picture>
    <source
      srcset="<%= require('../assets/images/main_flower_1920.webp') %>"
      media="(min-width: 1750px)"
    />
    <source
      srcset="<%= require('../assets/images/main_flower_1600.webp') %>"
      media="(min-width: 1300px)"
    />
    <source
      srcset="<%= require('../assets/images/main_flower_1200.webp') %>"
      media="(min-width: 1000px)"
    />
    <source
      srcset="<%= require('../assets/images/main_flower_900.webp') %>"
      media="(min-width: 730px)"
    />
    <img
      class="left_background"
      src="<%= require('../assets/images/main_flower_700.webp') %>"
    />
  </picture>

  <h1 class="main_title">Songbird</h1>
  <h2 class="main_subtitle" data-main-lang="subtitle"></h2>
  <p class="main_text" data-main-lang="main_text"></p>

  <button class="btn btn_main" data-main-lang="main_btn">Играть</button>
</div>
