<script type="text/javascript">
  location = '/dudarik-JSFE2022Q3/songbird/';
</script>
<div class="quiz_page" id="page">
  <picture>
    <source
      srcset="<%= require('../assets/images/quiz_siskin_1920.webp') %>"
      media="(min-width: 1750px)"
    />
    <source
      srcset="<%= require('../assets/images/quiz_siskin_1600.webp') %>"
      media="(min-width: 1300px)"
    />
    <source
      srcset="<%= require('../assets/images/quiz_siskin_1200.webp') %>"
      media="(min-width: 1000px)"
    />
    <source
      srcset="<%= require('../assets/images/quiz_siskin_900.webp') %>"
      media="(min-width: 730px)"
    />
    <img
      class="left_background"
      src="<%= require('../assets/images/quiz_siskin_700.webp') %>"
    />
  </picture>
  <div class="page_wrapper">
    <ul class="game_levels" id="game_levels">
      <li class="game_level" data-level="warmup"></li>
      <li class="game_level" data-level="sparrow"></li>
      <li class="game_level" data-level="forest"></li>
      <li class="game_level" data-level="songbirds"></li>
      <li class="game_level" data-level="predatory"></li>
      <li class="game_level" data-level="seabirds"></li>
    </ul>

    <div class="round_pleer ml-5 round_player_wrapper_quiz">
      <audio src="" id="round_pleer" type="audio/mpeg"></audio>
      <input
        class="pleer_volume"
        role="volume"
        type="range"
        name="round_volume"
        id="round_volume"
        min="0"
        max="100"
      />
      <div
        id="roundpleer_pbar"
        role="progressbar"
        class="roundpleer_progressbar"
        data-seconds="00:00"
        style="--value: 5"
      >
        <button class="rnd_control_btn play_btn" id="roundpleer_play"></button>
      </div>
    </div>

    <div class="bird_photo">
      <img
        src="<%= require('../assets/images/unknown_bird_1920.webp') %>"
        alt="target bird"
      />

      <h3 class="birds_photo_title">*******</h3>
    </div>

    <ul class="choice_bird_panel mr-5">
      <li class="panel_item wrong" data-id-bird=""></li>
      <li class="panel_item success" data-id-bird=""></li>
      <li class="panel_item" data-id-bird=""></li>
      <li class="panel_item" data-id-bird=""></li>
      <li class="panel_item" data-id-bird=""></li>
      <li class="panel_item" data-id-bird=""></li>
    </ul>

    <div class="bird_info" data-bird-id="">
      <div class="birds_photo">
        <img
          class="birds_photo_img"
          src="<%= require('../assets/images/unknown_bird_1920.webp') %>"
          alt="target bird"
        />
        <h2 class="bird_name" data-quiz-answer-bird-name>*******</h2>
      </div>

      <div class="bird_description">
        <h3 class="description_title">*******</h3>
        <p class="description_text" data-quiz-answer-description-text></p>
      </div>
    </div>

    <div class="player player_wrapper_quiz" id="player">
      <div class="player_time_wrapper">
        <button class="btn_play">
          <svg
            width="67"
            height="67"
            viewBox="0 0 67 67"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M33.5001 67C52.0015 67 67.0003 52.0015 67.0003 33.4999C67.0003 14.9983 52.0015 0 33.5001 0C14.9988 0 0 14.9985 0 33.5001C0 52.0017 14.9985 67 33.5001 67ZM33.5001 5.35994C49.016 5.35994 61.6401 17.984 61.6401 33.4999C61.6401 49.0158 49.016 61.6398 33.5001 61.6398C17.9842 61.6398 5.36019 49.0158 5.36019 33.4999C5.36019 17.984 17.9828 5.35994 33.5001 5.35994Z"
              fill="#CD8E18"
            />
          </svg>
        </button>
        <div class="input_wrapper">
          <input
            type="range"
            name="palyer_time"
            id="palyer_time"
            class="player_time"
          />
          <div class="time_value">
            <div class="zero_time">00:00</div>
            <div class="end_time">00:35</div>
          </div>
        </div>
      </div>
      <div class="player_volume_wrapper">
        <button class="btn_volume"></button>
        <input
          type="range"
          name="player_volume"
          id="player_volume"
          class="player_volume"
        />
      </div>
    </div>
    <div class="score" data-score-value="11">
      <span data-quiz-lang="score"></span>: 11
    </div>
    <button class="btn next_lvl_btn" data-quiz-lang="next_level"></button>
  </div>
</div>
