<form id="editorForm">
  <input type="text" name="" id="inputCreate" /><input type="color" id="inputColorCreate" /><button
    class="btn"
  >
    Create
  </button>
  <input type="text" name="" id="inputEdit" disabled /><input
    type="color"
    id="inputColorEdit"
    disabled
  /><button class="btn" id="btnEditorUpdate" data-btn-type="BtnUpdateEdit" disabled>Update</button>
  <button class="btn" id="btnGenerate100">Generate 100</button>
  <button class="btn" id="btnStartRace">Start</button>
  <button class="btn" id="btnResetRace" disabled>Reset</button>
  <h2>Garage()</h2>
  <h3>Page()</h3>
  <button class="btn">Prev page</button><button class="btn">Next page</button>
</form>
