<form id="editor_form" class="editor_form">
  <div class="create_car">
    <input
      type="text"
      class="input_text-editor"
      id="inputCreate"
      placeholder="Input car name"
    /><input type="color" class="input_color-editor" id="inputColorCreate" /><button
      class="btn"
      id="btnEditorCreate"
      data-btn-type="BtnCreateCar"
    >
      Create
    </button>
  </div>
  <div class="update_car">
    <input
      type="text"
      class="input_text-editor"
      id="inputEdit"
      placeholder="Input car name"
      disabled
    /><input type="color" class="input_color-editor" id="inputColorEdit" disabled /><button
      class="btn"
      id="btnEditorUpdate"
      data-btn-type="BtnUpdateEdit"
      disabled
    >
      Update
    </button>
  </div>
  <div class="control_race_bnts">
    <button class="btn" id="btnGenerate100" data-btn-type="BtnAdd100Cars">Generate 100</button>
    <button class="btn" id="btnStartRace" data-btn-type="BtnStartRace">Start</button>
    <button class="btn" id="btnResetRace" data-btn-type="BtnResetRace" disabled>Reset</button>
  </div>
</form>
