<div class="infoAndNav">
  <h2><span id="countRecordsTitle"></span>: <span id="countRecords"></span></h2>
  <h3>Page: <span id="currentPage"></span> (<span id="pages"></span>)</h3>
  <button data-btn-type="" id="btnPrevPage" class="btn">Prev page</button
  ><button data-btn-type="" id="btnNextPage" class="btn">Next page</button>
</div>

<!-- <div class="infoAndNav">
  <h2>Garage: <span id="countCars"></span></h2>
  <h3>Page: <span id="currentPage"></span> (<span id="pages"></span>)</h3>
  <button data-btn-type="BtnGaragePrevPage" id="btnGaragePrevPage" class="btn">Prev page</button
  ><button data-btn-type="BtnGarageNextPage" id="btnGarageNextPage" class="btn">Next page</button>
</div> -->
