.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;
  height: 8rem;

  cursor: grab;

  background-color: antiquewhite;
  border: 2px solid darkblue;

  user-select: none;
  border-radius: 0.5rem;
}
