.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: grab;

  background-color: white;
  border: 1px solid $color_dark_blue;
  color: $color_dark_blue;

  // font-size: 2em;
  // font-size: 6vw;

  user-select: none;
  // border-radius: 0.5rem;

  // @media screen and (max-width: 768px) {
  //   font-size: 1.5rem;
  // }
  // @media screen and (max-width: 500px) {
  //   font-size: 1.3rem;
  // }
  // &.dropable {
  //   opacity: 0;
  //   cursor: default;
  // }
  @mixin move-mixin {
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier;
  }
  &.move_up {
    transform: translateY(calc(-100% - $grid_gap));
    @include move-mixin;
  }
  &.move_down {
    transform: translateY(calc(100% + $grid_gap));
    @include move-mixin;
  }
  &.move_right {
    transform: translateX(calc(100% + $grid_gap));
    @include move-mixin;
  }
  &.move_left {
    transform: translateX(calc(-100% - $grid_gap));
    @include move-mixin;
  }

  &.dropable {
    font-size: 0px;
    opacity: 0;
  }
}
