.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: grab;

  background-color: antiquewhite;
  border: 2px solid darkblue;

  font-size: 2rem;

  user-select: none;
  border-radius: 0.5rem;
  // &.dropable {
  //   opacity: 0;
  //   cursor: default;
  // }
  &.move_up {
    transform: translateY(-110%);
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier;
  }
  &.move_down {
    transform: translateY(110%);
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier;
  }
  &.move_right {
    transform: translateX(110%);
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier;
  }
  &.move_left {
    transform: translateX(-110%);
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier;
  }
}
