.footer {
  height: 443px;
  background: #111115;
}

.footer__wrapper {
  height: 100%;

  padding: 0 220px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .subtitle {
    color: $color_white;
  }

  .logo__link_down {
    margin-top: 32px;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5px;

    .btn__donate {
      margin-top: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }

    .social-media__links {
      margin-top: 44px;
      display: flex;
      gap: 10px;
      flex-direction: column;
      // border: 1px dotted green;
      // margin-top: -100px;

      .social-media__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2px;

        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        color: $color_white;
        text-decoration: none;
        &:active {
          color: $color_green;
        }
        &:active .social-media__icon {
          background-color: $color_green;
        }
      }
      .social-media__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 10px;
        border-radius: 50%;
        width: 26px;
        height: 26px;

        background: rgba(196, 196, 196, 0.5);
        &:active {
          background-color: $color_green;
        }

        &:active .social-media__link {
          color: $color_green;
        }
      }
    }
  }

  .footer__menu {
    padding: 0 12px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
    // border: 1px dotted green;
  }

  .subscribe {
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    // border: 1px dotted green;
    .subscribe__form {
      margin-top: 14px;
      display: flex;
      gap: 10px;
    }
    .email__border {
      position: relative;
      width: 228px;
      height: 42px;
      // border: 0.7px solid;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);

      border-radius: 2px;
    }
    .subscribe__email {
      box-sizing: border-box;
      // position: absolute;
      top: 1px;
      left: 1px;
      width: 226px;
      height: 40px;

      padding: 10px 7px 10px 10px;
      background-color: $color_black;
      border: none;
      border-radius: 2px;
      outline: none;

      // &:required {
      //   border: 10px solid $color_white;
      // }
      &:valid {
        border: 1px solid $color_green;
        color: $color_green;
      }

      &:invalid {
        color: $color_red;
        border: 1px solid $color_red;

        & ~ .btn__subs {
          color: $color_red;
          border: 1px solid $color_red;
        }
      }
    }
    .copyright {
      align-self: end;
      margin-top: 209px;
      // margin-right: 5px;

      .copyright__link {
        // display: inline-block;
        text-align: right;
        color: $color_white;
        text-decoration: none;
        font-weight: 100;
        font-size: 16px;
        line-height: 130%;
        &:active {
          color: $color_green;
          border-bottom: 1px solid $color_green;
        }
      }
    }
  }
}
