.footer {
  height: 443px;
  background: #111115;
}

.footer__wrapper {
  height: 100%;

  padding: 0 220px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // align-items: center;
  // justify-content: space-between;
  // border: 1px dotted green;
  .subtitle {
    color: $color_white;
  }
  // & > * {
  //   border: 1px dotted green;
  // }
  .logo__link_down {
    margin-top: 32px;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5px;

    .btn__donate {
      margin-top: 70px;
    }

    .social-media__links {
      margin-top: 44px;
      display: flex;
      gap: 10px;
      flex-direction: column;
      // border: 1px dotted green;
      // margin-top: -100px;

      .social-media__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2px;

        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        color: $color_white;
        text-decoration: none;
      }
      .social-media__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 10px;
        border-radius: 50%;
        width: 26px;
        height: 26px;

        background: rgba(196, 196, 196, 0.5);
      }
    }
  }

  .footer__menu {
    padding: 0 12px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
    // border: 1px dotted green;
  }
}
