.pets {
  // $card_w_1600: 368px;
  // $card_h_1600: 428px;

  // $card_w_1000: 297px;
  // $card_h_1000: 356px;

  $card_pic_1600: 366px;
  $card_pic_1000: 295px;
  $card_pic_tablet: 285px;
  $card_pic_mobile: 285px;

  position: relative;
  margin-top: 173px;
  padding-bottom: 28px;

  @media screen and (max-width: 1599px) {
    margin-top: 141px;
    padding-bottom: 70px;
  }
  @media screen and (max-width: 999px) {
    margin-top: 78px;
    // padding-bottom: 70px;
  }

  .pets__palm,
  .pets__strelitzia {
    position: absolute;

    bottom: -34px;
    @media screen and (max-width: 1599px) {
      bottom: -27px;
    }
    @media screen and (max-width: 999px) {
      bottom: -28px;
    }
  }

  .pets__palm {
    left: 0;
  }
  .pets__strelitzia {
    right: 0;
  }

  .pets_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0 218px;
    // TODO: maybe add 2px wrap

    .btn-pets__wrapper {
      margin-top: 79px;
      margin-bottom: 43px;
      @media screen and (max-width: 999px) {
        margin-top: 58px;
        margin-bottom: 3px;
      }
    }
  }

  .slider {
    position: relative;

    @media screen and (max-width: 999px) {
      margin-left: 5px;
    }
  }

  .slider-button__left,
  .slider-button__right {
    position: absolute;
    // z-index: 10000;
    top: 369px;
    @media screen and (max-width: 999px) {
      top: 343px;
    }
  }

  .slider-button__left {
    left: -77px;
    @media screen and (max-width: 1599px) {
      left: 328px;
    }
    @media screen and (max-width: 999px) {
      left: 225px;
    }
  }

  .slider-button__right {
    right: -75px;
    @media screen and (max-width: 1599px) {
      right: 327px;
    }
    @media screen and (max-width: 999px) {
      right: 231px;
    }
  }

  .slider__cards {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-auto-flow: column;

    row-gap: 19px;
    column-gap: 31px;

    max-height: 890px;
    max-width: 1170px;

    overflow: hidden;
    @media screen and (max-width: 1599px) {
      row-gap: 90px;

      max-height: 890px;
      max-width: 950px;
    }
    @media screen and (max-width: 999px) {
      row-gap: 90px;
      column-gap: 29px;

      max-height: 890px;
      max-width: 610px;
    }
  }

  .slider__card {
    cursor: pointer;

    width: 368px;
    height: 428px;
    position: relative;
    background-color: $color_white;
    box-sizing: border-box;

    border-radius: 5px;
    background-clip: padding-box;
    border: solid 1px transparent;
    transition: all 0.3;
    @media screen and (max-width: 1599px) {
      width: 296px;
      height: 356px;
    }
    @media screen and (max-width: 999px) {
      width: 287px;
      height: 334px;
    }

    .card_image {
      transition: all 0.5s;
      width: $card_pic_1600;
      height: $card_pic_1600;
      overflow: hidden;
      @media screen and (max-width: 1599px) {
        width: $card_pic_1000;
        height: $card_pic_1000;
      }
      @media screen and (max-width: 999px) {
        width: $card_pic_tablet;
        height: $card_pic_tablet;
      }
      // transform: scale(1);
    }

    .card-img__wrapper {
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        opacity: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.65);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      @media screen and (max-width: 1599px) {
        width: card_pic_1000;
        height: card_pic_1000;
      }
      @media screen and (max-width: 999px) {
        width: $card_pic_tablet;
        height: $card_pic_tablet;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: inherit;
      background: $color_orange;
    }
    img {
      overflow: hidden;
      border-radius: 5px 5px 0 0;
    }

    &.slider__card_1 {
      //pandas
      order: 1;
    }
    &.slider__card_2 {
      //two-toed sloth
      order: 2;
      @media screen and (max-width: 1599px) {
        order: 7;
      }
    }
    &.slider__card_3 {
      // eagles
      order: 3;
    }
    &.slider__card_4 {
      // chetahs
      order: 4;
      @media screen and (max-width: 1599px) {
        order: 5;
      }
    }
    &.slider__card_5 {
      // gorillas
      order: 5;
      @media screen and (max-width: 1599px) {
        order: 2;
      }
    }
    &.slider__card_6 {
      //penguins
      order: 6;
    }
    &.slider__card_7 {
      // alligators in small devices
      order: 7;
      @media screen and (max-width: 1599px) {
        order: 4;
      }
    }
    &.slider__card_8 {
      //empty --- default pandas
      order: 8;
    }

    .card__text {
      position: absolute;
      bottom: 14px;
      left: 16px;
      transition: all 0.5s;
      @media screen and (max-width: 999px) {
        bottom: 11px;
        left: 14px;
      }
    }

    .card__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */

      text-transform: uppercase;
      @media screen and (max-width: 999px) {
        font-size: 12.4695px;
      }
    }
    .card__sub-title {
      @media screen and (max-width: 999px) {
        font-weight: 300;
        font-size: 11.6901px;
      }
    }

    .title__icon {
      position: absolute;
      right: 12px;
      bottom: 13px;
    }

    &:hover .card_image {
      // margin-top: -10px;
      // margin-left: -10px;
      // width: 386px;
      // height: 386px;

      transform: scale(1.05);
      transition: all 0.5s;
      overflow: hidden;
    }

    &:hover .card-img__wrapper::before {
      opacity: 1;
      transition: all 0.5s;
    }

    &:hover .card__text {
      position: absolute;
      z-index: 10;
      bottom: 200px;
      left: 50%;
      transform: translateX(-50%);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      white-space: nowrap;

      color: $color_white;
      transition: all 0.5s;
    }

    &:hover .small-paragraph {
      color: $color_white;
      transition: all 0.5s;
    }
  }
}
