.testimonials {
  height: 919px;
  position: relative;
  // border: 10px dotted green;
  .testimonials__leaf {
    position: absolute;
    z-index: -1;
    bottom: -132px;
    right: 0;
  }
}

.testimonials__wrapper {
  padding: 0 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .testimonials__title {
    margin-top: 140px;
    margin-bottom: 47px;
  }
  .testimonials__slider {
    margin-bottom: 28px;
  }
  .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .slider__cards {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);

    grid-auto-flow: column;

    // row-gap: 19px;
    column-gap: 29.3px;

    max-height: 500px;
    max-width: 1160px;

    // overflow-x: auto;

    overflow: hidden;

    .slider__card {
      width: 235px;
      height: 355px;

      position: relative;

      border-radius: 20px;
      background-clip: padding-box;
      border: solid 2px transparent;

      background-color: $color_gray_light;

      padding: 13px 15px 19px 14px;

      // overflow-x: hidden;
      // margin-right: calc(-1 * (100vw - 100%));

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        border-radius: inherit;
        background: $color_ping_grad;
      }
      .card__header {
        display: flex;
        align-items: center;

        .user-avatar {
          // background-image: url("../images/testimonials/avatars/no_avatar.png");
          width: 37px;
          height: 37px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
        .user-info {
          position: relative;
          white-space: nowrap;
          .user-name {
            position: absolute;
            top: -25px;
          }
          .user__location-time {
            position: absolute;
            top: -5px;
          }
          .user__location,
          .separator,
          .date-time__post {
            color: #bdbdbd;
          }
        }
      }

      .card__text {
        width: 237px;
        height: 309px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0px;
        }
      }
    }
  }
  .slider__controls {
    margin-top: 21px;

    .range__wrapper {
      position: relative;
      .range__border {
        position: relative;
        border-radius: 8px;
        background-clip: padding-box;
        // border: solid 1px $color_pink_grad;
        width: 601px;
        height: 10px;

        background: linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
          ),
          linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
          ),
          linear-gradient(0deg, #f5f7f6, #f5f7f6);
      }

      .slider__range {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 599px;
        height: 8px;

        background-color: #f5f7f6;

        border-radius: 5px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::-webkit-slider-thumb {
          background: $color_orange_second;

          border-radius: 5px;
          cursor: pointer;
          width: 115.19px;
          height: 6px;
          -webkit-appearance: none;
        }

        &::-moz-range-thumb {
          background: $color_orange_second;

          border-radius: 5px;
          cursor: pointer;
          width: 115.19px;
          height: 6px;
          -webkit-appearance: none;
        }
      }
    }
  }
  .btn_leave-feedback {
    align-self: flex-start;
  }
}
