.watch-you-animal {
  display: block;
  background-image: url("../images/main_header/giant_panda.png");
  background-repeat: no-repeat;
  background-position: center -80px;
  padding-bottom: 100px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-image 1s;

  @media screen and (max-width: 1000px) {
    filter: none;

    background-image: url("../images/small_desktop/main_header/giant_panda.png");
  }

  @media screen and (max-width: 641px) {
    // height: 373px;

    background-image: url("../images/tablet/main_header/giant_panda.png");
    background-position: center 0px;
  }

  @media screen and (min-width: 1601px) {
    background-size: cover;
  }
}

.watch-animal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  padding-top: 87px;
  padding-right: 9px;
  text-transform: uppercase;
  transition: all 0.3s;

  @media screen and (max-width: 1599px) {
    padding-top: 45px;
    padding-right: 63px;
  }
  @media screen and (max-width: 999px) {
    display: flex;
    flex-direction: row-reverse;
    // align-items: center;
    // justify-content: center;

    padding-top: 84px;
    padding-right: 1px;
  }
}

.watch-animal__title {
  z-index: 20;
  text-align: center;
  color: $color_white;

  position: relative;

  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;

  @media screen and (max-width: 1599px) {
    font-weight: 700;
    font-size: 85px;
  }
  @media screen and (max-width: 999px) {
    font-weight: 700;
    font-size: 54.2894px;
    line-height: 75%;
  }

  span {
    color: $color_yellow;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    width: 465px;
    height: 465px;

    border-radius: 50%;
    right: 99px;
    bottom: 9px;
    background: $color_orange;
    transition: all 1s;
    @media screen and (max-width: 1599px) {
      width: 367px;
      height: 367px;
      right: 84px;
    }
    @media screen and (max-width: 1599px) {
      width: 237.6px;
      height: 237.6px;
      right: 50px;
      bottom: 7px;
    }
  }
}

.button__wrapper {
  margin-top: 60px;
  margin-right: 90px;

  // border: 1px dotted green;
  @media screen and (max-width: 1599px) {
    margin-top: 39px;
    margin-right: 44px;
  }
  @media screen and (max-width: 999px) {
    position: absolute;
    left: 0px;
    bottom: -45px;
  }
  // left: calc(50% - 298px/2 + 332px);
}
