.editor_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 1rem;

  gap: 1rem;

  .create_car,
  .update_car {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
