.header {
  display: flex;
  flex-direction: row;

  min-height: 5rem;

  background-color: #536ce3;

  color: white;
  .logo {
    display: flex;
    align-items: center;
  }

  .main_title {
    text-transform: uppercase;
    font-family: 'Impact';
  }
}
