.carline {
  background-color: white;
  border-bottom: 0.2rem dashed #536ce3;
  padding-left: 1rem;
  padding-right: 3rem;
  position: relative;
  .ufo {
    height: 60px;
  }
  .wrapper_controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    .car_name {
      font-size: 1.5rem;
      font-weight: bold;
      color: #fd7b1b;
    }
  }
  .road {
    &::after {
      content: '';
      --bg-size: 5rem;
      background-image: url('../../../assets/img/finish-flag.png');
      background-size: var(--bg-size);
      background-repeat: no-repeat;

      width: var(--bg-size);
      height: var(--bg-size);

      position: absolute;

      transform: scale(-1, 1);
      right: 15%;
      bottom: -0.5rem;
    }
  }
}
