@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    color: #fff;
    /* background: #17181c; */
    background: #c5c5c5;
    font-family: 'Bebas Neue', cursive;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}
header h1 .second__title {
    color: #f16110;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer .footer__link svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    fill: #f16110;
}

footer .footer__link .github {
    width: 3rem;
    height: 3rem;
}
