$button-state-colors: (
  hover: $color_orange_darken,
  active: $color_green,
  disable: $color_gray,
);

// .button {
//   @each $status, $color in $button-colors {
//     &:#{$status} {
//       background-color: $color;
//     }
//   }
// }

.btn {
  @include button-settings;
  &__round,
  &__main {
    width: 298px;
    height: 54px;
    font-weight: 500;
    text-transform: uppercase;

    @each $status, $color in $button-colors {
      &:#{$status} {
        background-color: $color;
      }
    }
    // &:hover{
    //   background-color: $color_orange_darken;
    // }

    // &:active{
    //   background-color: $color_green;
    // }

    // &:disabled{
    //   background-color: $color_gray;
    // }
  }

  &__round {
    border-radius: 25px;
  }

  &__submit {
    width: 129px;
    height: 42px;

    background-color: $color_light_gray;

    border: 1px solid $color_black_blue;
    color: $color_black;

    &:active {
      border: 1px solid $color_green;
      color: $color_green;
    }
    &_mistake {
      border: 1px solid $color_red;
      color: $color_red;
    }
  }
}
