.logo__link {
  display: flex;
}
.logo {
  width: 82px;
  height: 52px;

  background-image: url("../icons/logo_icons/logo-petonline-optimized.svg");
  background-repeat: no-repeat;
  @media screen and (max-width: 999px) {
    width: 46px;
    height: 29px;
    background-image: url("../icons/logo_icons/tablet/logo_footer.png");
    background-repeat: no-repeat;
  }
  // display: flex;
  // align-items: center;
  // justify-content: center;

  // position: relative;
  // // z-index: 5;

  // text-align: center;

  // font-family: "Roboto";
  // font-style: normal;

  // letter-spacing: 0.8px;

  // font-weight: 400;
  // font-size: 19.0145px;
  // line-height: 119%;

  // &::before {
  //   content: "";
  //   // border: 2px solid green;
  //   position: absolute;

  //   left: 12px;
  //   top: 22.64px;
  //   background: url("../icons/logo_icons/logo-petonline-optimized.svg")
  //     no-repeat;
  // }
}
