.language_switcher {
  position: absolute;
  top: 2rem;
  right: 2rem;
  // padding: 0.3rem;
  z-index: 100;

  font-size: 2rem;

  width: 3.5rem;
  height: 3.5rem;

  color: $color_orange;
  background-color: $color_green;

  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  transition: top 0.5s, right 0.5s;

  @media screen and (max-width: 570px) {
    font-size: 1.6rem;
    width: 2.5rem;
    height: 2.5rem;
    right: 1rem;
    top: 9rem;
  }
}
