.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  .menu_item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5;
    &:hover {
      transition: all 0.5;
      margin-bottom: -2px;
      border-bottom: 2px solid $color_orange;
    }

    .menu_link {
      font-size: 1.3rem;
      line-height: 23px;
      text-decoration: none;

      color: $color_white;

      padding: 0.5rem;

      transition: color 0.5s;

      &:visited {
        color: $color_white;
      }
      &:hover {
        color: $color_orange;
      }
    }
  }
}
