.round_pleer {
  grid-area: r_player;
  .roundpleer_progressbar {
    --percentage: var(--value);
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: grid;
    place-items: center center;

    background: radial-gradient(closest-side, #475c36 80%, transparent 0 2%),
      conic-gradient(
        $color_orange calc(var(--percentage) * 1%),
        rgba(0, 0, 0, 0.2) 0
      );

    position: relative;
  }

  .roundpleer_progressbar::after {
    content: attr(data-seconds);
    position: absolute;
    font-weight: 500;
    font-size: 47px;
    line-height: 57px;
    bottom: -4rem;
  }
  .rndPBtn {
    background: none;
    border: none;
    cursor: pointer;
  }
}
